* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5CAD7A;
}

header h1 {
    text-align: center;
    color: #bf4040;
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
}

#center {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
}

nav {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav a {
    color: #FFFF7A;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #bf4040;
    transition: 0.5;
}

section {
    text-align: justify;
}

.article1 {
    border: 0.09cm double white;
    margin: 10vw;
    margin: 10vh;
    padding: 30px;
}

.article1 h1 {
    color: #bf4040;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.article2 {
    text-align: center;
    border: 0.09cm solid #FFFF7A;
    margin: 10vw;
    margin: 10vh;
    padding: 30px;
}

.article2 h1 {
    color: #bf4040;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.article3 {
    text-align: center;
    border: 0.09cm dashed #bf4040;
    margin: 10vw;
    margin: 10vh;
    padding: 30px;
}

.article4 {
    text-align: center;
}

.article5 {
    text-align: center;
    color: #FFFF7A;
    font-size: 18px;
}

.article5 h2 {
    color: #bf4040;
    font-family: 'Roboto', sans-serif;
}

.degrade {
    width: 1300x;
    height: 400px;
    background-image: url(degrade2.png);
}

h3 {
    color: #FFFF7A;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

p {
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

#podcast {
    color: #FFFF7A;
}

.ingredientes {
    text-align: center;
}
