body {
    background-color: #5CAD7A;
}

header h1 {
    text-align: center;
    color: #bf4040;
}

nav {
    text-align: center;
}

nav a {
    color: #FFFF7A;
    text-decoration: none;
}

nav a:hover {
    color: #bf4040;
    transition: 0.5;
}

.article1 {
    text-align: center;
    border: 3px solid white;
    margin: 30px;
    padding: 30px;
}

.article1 h1 {
    color: #bf4040;
}

.article2 {
    text-align: center;
    border: 3px solid white;
    margin: 30px;
    padding: 30px;
}

.article2 h1 {
    color: #bf4040;
}

.article3 {
    text-align: center;
    border: 3px solid white;
    margin: 30px;
    padding: 30px;
}

.article4 {
    text-align: center;
}

.article5 {
    text-align: center;
    color: #FFFF7A;
}

.article5 h2 {
    color: #bf4040;
}

ul li {
    text-align: center;
    color: white;
}

h3 {
    color: #FFFF7A;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}
