* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    width: 100wh;
    height: 50px;
    padding: 8px 15px;
}

header span {
    font-family: sans-serif;
    font-size: 36px;
    color: #bf4040;
    position: relative;
    left: 40%;
}

.navegador-superior {
    background-color: #1ba08c;
    overflow: auto;
    box-shadow: 0 2px 3px #909090;
}

.navegador-superior ul {
    list-style: none;
}

.navegador-superior>ul>li>a,
.dropdown .dropdown-button {
    display: block;
    text-decoration: none;
    color: white;
    float: left;
    padding: 17px;
    cursor: pointer;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 4px;
    color: #FFFF7A;
}

.navegador-superior>ul>li>a:hover,
.dropdown .dropdown-button:hover {
    background-color: white;
    color: black;
}

.dropdown {
    float: left;
}

.dropdown-content {
    position: absolute;
    background-color: rgba(204, 204, 204, 0.51);
    width: 400px;
    max-height: 0px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.dropdown:hover .dropdown-content {
    max-height: 1000px;
    transition: max-height 1s;
}

.dropdown .dropdown-button {
    float: none;
}

.dropdown-content>ul {
    list-style: none;
}

.dropdown-content>ul>li>a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #bf4040;
}

.dropdown-content>ul>li>a:hover {
    background-color: rgba(204, 204, 204, 0.51);
}

.navegador-lateral {
    height: 200vh;
    width: 230px;
    float: left;
    box-shadow: 0 2px 5px #909090;
}

.navegador-lateral>div>ul {
    list-style: none;
}

.navegador-lateral>div>ul>li>a {
    display: block;
    text-decoration: none;
    line-height: 1.5;
    padding: 20px;
    font-family: sans-serif;
    font-size: 18px;
    color: #bf4040;
}

.navegador-lateral>div>ul>li>a:hover {
    background-color: #ddd;
}

.barra-lateral-direita {
    position: relative;
    z-index: -10;
    height: 200vh;
    width: 230px;
    float: right;
    display: block;
    box-shadow: 0 2px 5px #909090;
    background: linear-gradient(white, #1ba08c);
}

.barra-lateral-direita h2 {
    font-family: sans-serif;
    font-size: 20px;
    color: #bf4040;
    position: relative;
    top: 20px;
    left: 60px;
}

.barra-lateral-direita>div ul {
    list-style: none;
}

.barra-lateral-direita>div>ul>li>a {
    display: block;
    text-decoration: none;
    line-height: 1.5;
    padding: 15px;
    font-family: sans-serif;
    font-size: 16px;
    color: #bf4040;
}

.barra-lateral-direita>div>ul>li>a:hover {
    background-color: #ddd;
}

.conteudo {
    position: relative;
    animation: cupcake 2s infinite;
    animation-timing-function: linear;
}

.conteudo img {
    width: 200px;
    height: 200px;
}

@keyframes cupcake {
    from {
        left: 0px;
    }
    to {
        left: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .navegador-lateral {
        float: left;
        width: 100%;
    }
}

footer {
    width: 100%;
    background-color: #1ba08c;
    color: #FFFF7A;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
}
